<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmartVPN.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>58D39F16A5EEB22346F3FF49188D4DA4C53AD827</string>
				<key>dateExpires</key>
				<string>2025/5/30</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>58D39F16A5EEB22346F3FF49188D4DA4C53AD827</string>
						<key>dateExpires</key>
						<string>2025/5/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NDT7.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZRKM42D778</string>
						<key>name</key>
						<string>HONGKONG HUIG TRADING LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>58D39F16A5EEB22346F3FF49188D4DA4C53AD827</string>
						<key>dateExpires</key>
						<string>2025/5/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZRKM42D778</string>
						<key>name</key>
						<string>HONGKONG HUIG TRADING LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.11700</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>58D39F16A5EEB22346F3FF49188D4DA4C53AD827</string>
						<key>dateExpires</key>
						<string>2025/5/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>ZRKM42D778.com.apps.smartx.joy.SmartT</string>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>app-proxy-provider</string>
							<string>content-filter-provider</string>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>ZRKM42D778</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.apps.smartx.joy</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>SmartT.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>e8f7ae21-c76c-4fe7-b5ed-11d622fc52f5</string>
						<key>dateExpires</key>
						<string>2025/8/2</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.apps.smartx.joy.SmartT</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZRKM42D778</string>
						<key>name</key>
						<string>HONGKONG HUIG TRADING LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZRKM42D778.com.apps.smartx.joy</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>app-proxy-provider</string>
					<string>content-filter-provider</string>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.networking.vpn.api</key>
				<array>
					<string>allow-vpn</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>ZRKM42D778</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.apps.smartx.joy</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>SmartVPN.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>59147de8-7e91-4dc0-9421-fe7024e76d7a</string>
				<key>dateExpires</key>
				<string>2025/8/2</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.apps.smartx.joy</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZRKM42D778</string>
				<key>name</key>
				<string>HONGKONG HUIG TRADING LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
